.menu
  ul.nav.nav-pills
    li.active
      a(href='#who') who
    li.active
      a(href='#what') what
    li.active
      a(href='#where') where
    li      a(href='#when') when
    li
      a(href='#why') why
    li
      a(href='#how') how
    li
      a(href='#how') links
